
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-family: 'Nunido', sans-serif;
	font-size: 10px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

p{
	font-size: 16px;
}

img{
	width:100%;
	max-width: 100%;
	height:auto;
}

section{
	padding: 5rem 0;
}



/*header*/
header{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: all 250ms ease-in-out;
}

.container{
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 15px;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}



.menu-icons i{
	font-size: 35px;
	color: white;
	cursor: pointer;
}

.close i{
 	color: #eb648c;
}




#goUpBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 10px; 
  z-index: 5000; 
  border: none; 
  outline: none; 
  background-color: #751aff; 
  color: black; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 50%; 
  font-size: 18px;
}

#goUpBtn:hover {
  background-color: black;
  color: white;
}

.nav-brand{
	width: 20px;
	transition: all 250ms ease-in-out;
}


.nav-list{
	width: 250px;
	height: 100vh;
	background-color: white;
	position: fixed;
	top: 0;
	right: -260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 650ms ease-in-out;
}


.nav-list.active{
	right: 0;

}

.close{
	position: absolute;
	top: 10px;
	left: 15px;
}

.nav-item{
	margin: 15px 0;
}

.nav-link{
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(0,0,0,.7);
}

/*Fotoja kryesore*/
.traveller{
	width: 100%;
	height: 80vh;
	background: linear-gradient(rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.2) ), url("../images/about.jpg") center no-repeat;
	background-size: cover;
	position: relative;
}

.traveller:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 47px;
	background: url("../images/wave-small.png") center no-repeat;
	background-size: cover;
}

.main-message{
	width: 100%;
	max-width: 1000px;
	position: absolute;
	top: 0;
	bottom: 50%;
	left: 0;
	right: 0;
  	
	margin: auto;
	color: #fafafa;
	text-transform: uppercase;
	transform: translateY(20%);
	text-align: center;
}


.main-message h3{
	font-size: 16px;
}

.main-message h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 40px;
	margin: 10px 0;

}

.main-message p{
	text-transform: capitalize;
}

.btn{
	background-color: #eb648c;
	border-radius: 20px;
	color: #fafafa;
	display: inline-block;
	margin-top: 20px;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: background-color 650ms;
}

.btn:hover{
	background-color: white;
	color: black;
	transform: translateY(-2px);
	box-shadow: 5px 5px 20px rgba(0,0,0,.2);
	transition: all .5s;
}

.who{
	position: relative;
	display: flex;
	top: -250px;
	background: url("../images/who.png") center no-repeat;
	background-size: cover;
	border-radius: 10px;
	margin-bottom: -250px;
}

.whoText{
	float: left;
	width: 80%;
	height: 500px;
	padding: 30px 30px;

}

.whoText h1{
	font-size: 20px;
	font-family: Aldrich, sans-serif;
}

.whoText h3,p{
	font-size: 12px;
	font-family: Aldrich, sans-serif;
	padding-top: 20px;
}

.whoText p{
	font-size: 12px;
	padding-bottom: 50px;
}


/*Experience the outdoors*/
.experience-outdoors{
	padding: 0;
}

.title-heading{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.title-heading h3{
	font-size: 14px;
}

.title-heading h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	margin: 5px 0 10px;
}

.title-heading p{
	text-transform: lowercase;
}

.contactUs{
	height: 500px;
	width: 100%;
}

.contactForm{
	width: 50%;
	padding: 10px 40px;
	height: 400px;
	float: left;
}

.contactForm h2{
	font-size: 30px;
	font-family: Aldrich, sans-serif;
	margin: 20px 0;
}

.contactForm input[type="text"], input[type="mail"], input[type="date"]{
	margin: 10px;
	height: 30px;
	border: 0;
	font-family: Aldrich, sans-serif;
	outline: none;
	border-bottom: 1px solid black;
}

#textarea{
	margin: 10px;
	border: 0;
	background-color: #6600ff;
	font-family: Aldrich, sans-serif;
	padding: 5px;
	color: white;
	width: 200px;
}


#textarea::placeholder{
	color: grey;
}

#formBtn{
	margin: 10px;
	padding: 10px 20px;
	border-radius: 20px;
	border: 0;
	background-color: #6600ff;
	color: white;
	font-family: Aldrich, sans-serif;
	text-transform: uppercase;
	transition: background-color 650ms;
	outline: none;
}

#formBtn:hover{
	background-color: white;
	color: black;
	transform: translateY(-2px);
	box-shadow: 5px 5px 20px rgba(0,0,0,.2);
	transition: all .5s;
}


.aboutUS{
	height: auto;
	width: auto;
	background-color: #6600ff;
}


.title-heading h3{
	font-size: 14px;
}

.title-heading h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	margin: 5px 0 10px;
}

.title-heading p{
	text-transform: lowercase;
}

/*Responsive grid*/
.activities-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
}

.activities-grid-item{
	height: 400px;
	padding: 50px;
	color: black;
	position: relative;
	top: -60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	background-color: white;
}

.activities-grid-item::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.activities-grid-item i{
	font-size: 20px;
	color: black;
	position: absolute;
	bottom: 20px;
	right: 43%;
	border-radius: 50%;
	padding: 5px 12px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

.activities-grid-item i:hover{
	color: white;
	background-color: #6600ff;
}

.activities-grid-item h1{
	font-family: 'Nunito', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	margin: 20px 0;
	text-align: center;
}

.activities-grid-item p{
	text-align: center;
}


.activities-grid-item img{
	position: absolute;
	top: -50px;
	left: 0;
}


.infoPic{
	height: 500px;
	float: left;
	background: url("../images/about-picture.png") right no-repeat;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-right: 0;
	margin-bottom: 20px;

}

.map{
	align-items: center;
	justify-content: center;
	text-align: center;
}

.map iframe{
	border-radius: 25px;
	width: auto;
}

.map h3{
	font-size: 15px;
	font-family: Aldrich, sans-serif;
	margin: 30px;
	color: #6600ff;
}

.map img{
	height: 200px;
	width: 200px;
}	




footer{
	padding: 25px 0;
	background-color: black;
	text-align: center;
	color: white;
}



/*Media Queries*/
@media screen and (min-width: 350px){
	
	.main-message{
		transform: translateY(40%);
	}


}


@media screen and (min-width: 470px){
	
	.traveller::before{
		height: 94px;
		background: url("../images/wave-medium.png");
		background-size: cover;
	}


}


@media screen and (min-width: 700px){
	header{
		height: 80px;
	}
	.nav-brand{
		width: 35px;
	}

	.nav-list{
		width: initial;
		height: initial;
		background-color: transparent;
		position: initial;
		top: initial;
		right: initial;
		flex-direction: row;
		transition: initial;

	}

	.nav-item{
		margin: 0 25px;
	}

	.nav-link,
	.current{
		color: #fafafa;
		position: relative;
		font-size: 13px;
	}

	.nav-link::before,
	.current::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: -5px;
		background-color: #eb648c;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 600ms;
	}

	.current::before{
		transform: scaleX(1);
	}

	.nav-link:hover::before{
		transform: scaleX(1);
	}

	.traveller{
		height: 60vh;
	}

	.main-message{
		transform: translateY(50%);
	}

	.title-heading h1{
		font-size: 25px;
	}


	.menu-icons{
		display: none;
	}

	.contact-image img{
		display: none;
	}


	.contact-image{
		height: 500px;
		background: url("../images/about-card.png") center no-repeat;
		width: 70%;
		margin-left: 30%;
		border-radius: 10%;
	}

	.infoPic{
		width: 50%;
		margin-right: 50px;
	}

	.who{
		position: relative;
		display: flex;
		top: -250px;
		background: url("../images/who.png") center no-repeat;
		background-size: cover;
		border-radius: 10px;
	}

.whoText{
	float: left;
	width: 40%;
	height: 500px;
	padding: 60px 60px;
	
}

.whoText h1{
	font-size: 30px;
	font-family: Aldrich, sans-serif;
}

.whoText h3,p{
	font-size: 15px;
	font-family: Aldrich, sans-serif;
	padding-top: 20px;
}

.whoText p{
	padding-bottom: 50px;
}

#goUpBtn {
	right: 30px;
}






}


@media screen and (min-width: 950px){
	.traveller::before{
		height: 227px;
		background: url("../images/wave-large.png");
		background-size: cover;
	}


}


@media screen and (min-width: 1200px){
	.traveller{
		height: 75vh;
	}


	.contact-image{
		height: 500px;
		background: url("../images/about-card.png") center no-repeat;
		width: 70%;
		margin-left: 30%;
		border-radius: 10%;
	}
}


	


